// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.whole-container {
  margin: auto;
  max-width: 915px;
}

.main-container {
  float: right;
  width: 75%;
}

.l-sidebar {
  background-color: #C6E2D4;
  float: left;
  height: 250px;
  margin-top: 95px;
  width: 20%;
}

.side-menu {
  list-style-type: none;
  padding-left: 20px;
}

.side-menu li {
  cursor: pointer;
}

.menu-header {
  padding-left: 10px;
}
